aiohappyeyeballs==2.6.1 ; python_version >= "3.10" and python_version < "3.12"
aiohttp==3.12.15 ; python_version >= "3.10" and python_version < "3.12"
aiosignal==1.4.0 ; python_version >= "3.10" and python_version < "3.12"
async-timeout==5.0.1 ; python_version >= "3.10" and python_version < "3.11"
attrs==25.3.0 ; python_version >= "3.10" and python_version < "3.12"
certifi==2025.8.3 ; python_version >= "3.10" and python_version < "3.12"
charset-normalizer==3.4.3 ; python_version >= "3.10" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.10" and python_version < "3.12" and platform_system == "Windows"
datasets==3.6.0 ; python_version >= "3.10" and python_version < "3.12"
dill==0.3.8 ; python_version >= "3.10" and python_version < "3.12"
filelock==3.19.1 ; python_version >= "3.10" and python_version < "3.12"
frozenlist==1.7.0 ; python_version >= "3.10" and python_version < "3.12"
fsspec==2025.3.0 ; python_version >= "3.10" and python_version < "3.12"
fsspec[http]==2025.3.0 ; python_version >= "3.10" and python_version < "3.12"
hf-xet==1.1.7 ; python_version >= "3.10" and python_version < "3.12" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
huggingface-hub==0.34.4 ; python_version >= "3.10" and python_version < "3.12"
idna==3.10 ; python_version >= "3.10" and python_version < "3.12"
joblib==1.5.1 ; python_version >= "3.10" and python_version < "3.12"
multidict==6.6.4 ; python_version >= "3.10" and python_version < "3.12"
multiprocess==0.70.16 ; python_version >= "3.10" and python_version < "3.12"
numpy==2.2.6 ; python_version >= "3.10" and python_version < "3.12"
packaging==25.0 ; python_version >= "3.10" and python_version < "3.12"
pandas==2.3.1 ; python_version >= "3.10" and python_version < "3.12"
propcache==0.3.2 ; python_version >= "3.10" and python_version < "3.12"
pyarrow==21.0.0 ; python_version >= "3.10" and python_version < "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.10" and python_version < "3.12"
pytz==2025.2 ; python_version >= "3.10" and python_version < "3.12"
pyyaml==6.0.2 ; python_version >= "3.10" and python_version < "3.12"
requests==2.32.4 ; python_version >= "3.10" and python_version < "3.12"
scikit-learn==1.7.1 ; python_version >= "3.10" and python_version < "3.12"
scipy==1.15.3 ; python_version >= "3.10" and python_version < "3.12"
six==1.17.0 ; python_version >= "3.10" and python_version < "3.12"
threadpoolctl==3.6.0 ; python_version >= "3.10" and python_version < "3.12"
tqdm==4.67.1 ; python_version >= "3.10" and python_version < "3.12"
typing-extensions==4.14.1 ; python_version >= "3.10" and python_version < "3.12"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "3.12"
urllib3==2.5.0 ; python_version >= "3.10" and python_version < "3.12"
xxhash==3.5.0 ; python_version >= "3.10" and python_version < "3.12"
yarl==1.20.1 ; python_version >= "3.10" and python_version < "3.12"
